<div class="bar-wrapper">
    <div class="link-wrapper" routerLink="/administration" [routerLinkActive]="['is-active']">
        <p>Administration</p>
    </div>

    <div class="link-wrapper" routerLink="/definition" [routerLinkActive]="['is-active']">
        <p>Definition</p>
    </div>

    <div class="link-wrapper" routerLink="/performance" [routerLinkActive]="['is-active']">
        <p>Performance</p>
    </div>

    <div class="link-wrapper" routerLink="/result-entry" [routerLinkActive]="['is-active']">
        <p>Result Entry</p>
    </div>
</div>